<div class="container-fluid d-flex justify-content-center bg-light-blue pt-4 min-vh-100">
    <div class="text-center text-primary">
      <i class="material-icons icon">coffee</i>
      <p>Welcome to Your Coffee Break!</p>
      <p>Sit back, relax, and enjoy your coffee. We're glad to have you here!</p>
      @if(!userService.user()){
      <p>To see your personalized news while drinking your coffee, <a href="./register" class="text-decoration-none"> <strong> make an account</strong></a> and login!</p>
    }
    </div>
  </div>
