<div class="container-fluid d-flex justify-content-center bg-light-blue pt-4 min-vh-100">
    <div class="text-center text-primary">
      <i class="material-icons icon">coffee</i>
      <p>Welcome to Your Coffee Break!</p>
      <p>Sit back, relax, and enjoy your coffee. We're glad to have you here!</p>
      @if(userService.user()){
      <p>Check your <a href="./home" class="text-decoration-none"><strong>personalized news</strong></a></p>
      }
      @if(!userService.user()){
      <p>To see your personalized news, <a href="./register" class="text-decoration-none"> <strong> make an account</strong></a> and <a href="./login" class="text-decoration-none"><strong>login!</strong></a></p>
    }
    </div>
  </div>
