<nav class="navbar navbar-dark bg-primary justify-content-between">
    <a class="navbar-brand ms-3 cursor-pointer" role="button" routerLink="home">
        <mat-icon>home</mat-icon> <!-- Home icon -->
    </a>

    @if(user()) {
        <span class="me-3 d-flex gap-2 text-light">
            Welcome, {{user()?.firstname}}
            <mat-icon role="button" (click)="logout()">logout</mat-icon>
        </span>

    } @else {

        <span class="me-3 d-flex gap-2 text-light align-items-center">
            <mat-icon role="button" class="icon-link-hover" routerLink="register">
                person_add
            </mat-icon>
            <a routerLink="register" class="text-light text-decoration-none">Register now!</a> <!-- Make the text clickable -->
            <mat-icon role="button" class="icon-link-hover" routerLink="login">
                login
            </mat-icon>
            <a routerLink="login" class="text-light text-decoration-none">login</a> <!-- Make the text clickable -->
        </span>
        
    }
</nav>
